Miller Boyd

Lab 1


Dataset: Video Game Sales 2024

Source: Kaggle

Owner: This dataset is a continuation of @baynebrannen's 2020 Video Game Sales dataset and @ashaheedq's 2019 Video Games Sales dataset.

Data Scraped From: https://www.vgchartz.com/

Link: https://www.kaggle.com/datasets/asaniczka/video-game-sales-2024?rvi=1

## Business Understanding (1.5 points total).  
#### In your own words, give an overview of the dataset. Describe the purpose of the data set you selected (i.e., why and how was this data collected in the first place?). What is the prediction task for your data and why are other third parties interested in the result? Once you begin modeling, how well would your prediction algorithm need to perform to be considered useful to these third parties? Be specific and use your own words to describe the aspects of the data.


The dataset in question is a comprehensive collection of video game sales data, including titles, platforms, genres, publishers, developers, critic scores, sales figures (both global and regional), and release dates. The primary purpose of this dataset, while not explicitly stated, can be inferred as providing insights into the video game industry's market dynamics, consumer preferences, and the overall performance of video games across different consoles and regions.

## Data Understanding (3 points total)
#### Load the dataset and appropriately define data types.

In [ ]:
#imports for the code :D
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

print(sys.version)
print(np.__version__)
print(pd.__version__)

3.12.1 (tags/v3.12.1:2305ca5, Dec  7 2023, 22:03:25) [MSC v.1937 64 bit (AMD64)]
1.26.2
2.2.0

C:\Users\wnd\AppData\Local\Temp\ipykernel_19596\2866337799.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
# getting the data from csv :)
df = pd.read_csv('vgchartz-2024.csv')
# make sure it is read correctly
df.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [5]:
# more code understanding what the base data appears as
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB
None

In [6]:
# fixing the main data to make it have correct typing

# Replace '?' with NaN (assuming you want to handle missing values appropriately later on)
df = df.replace(to_replace='?', value=np.nan)

# Continuous features to be floats
continuous_features = ['critic_score', 'total_sales', 'na_sales', 'jp_sales', 'pal_sales', 'other_sales']

# Categorical features, including console and genre which are explicitly mentioned
categ_features = ['console', 'genre', 'publisher', 'developer']  # Added relevant features based on your dataset

# Convert date columns to datetime
date_features = ['release_date', 'last_update']

# Use the "astype" function to change the variable type
df[continuous_features] = df[continuous_features].astype(np.float64)
# If there were ordinal features, they would be converted here
# df[ordinal_features] = df[ordinal_features].astype(np.int64)
df[categ_features] = df[categ_features].astype('category')
df[date_features] = df[date_features].apply(pd.to_datetime)

df.info()  # Now our data looks better and is more appropriately typed!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  category
 3   genre         64016 non-null  category
 4   publisher     64016 non-null  category
 5   developer     63999 non-null  category
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  datetime64[ns]
 13  last_update   17879 non-null  datetime64[ns]
dtypes: category(4), datetime64[ns](2), float64(6), object(2)
memory usage: 5.7+ MB

#### What data type should be used to represent each data attribute? Discuss the attributes collected in the dataset. For datasets with a large number of attributes, only discuss a subset of relevant attributes.  

- Continuous Features: I've designated float64 as the data type for continuous features such as critic_score, total_sales, na_sales, jp_sales, pal_sales, and other_sales. This decision is based on the numerical nature of these attributes and the necessity for precision, especially since these metrics can have decimal values to represent sales figures and scores accurately.

- Categorical Features: The attributes console, genre, publisher, and developer are treated as categorical features. This categorization is logical given the inherent properties of these columns; each can contain a limited set of repeating values, representing distinct categories within the dataset. The category data type is optimal here as it efficiently encodes the data, reducing memory usage and potentially speeding up operations compared to the generic object type.

- Datetime Features: For attributes like release_date and last_update, I've chosen the datetime data type. This conversion is particularly beneficial because it provides the flexibility to perform time-based comparisons and analyses, such as calculating the time span between a game's release and its last update or analyzing sales patterns over time.

- Textual/Object Features: The img and title columns are retained as object types, which is the default for textual data in pandas. These attributes serve primarily as identifiers or descriptive labels rather than data points for numerical analysis. As such, their role is more about providing context or supporting information, and they do not necessitate a change in data type for the purposes of this dataset's analysis.

#### Verify data quality: Explain any missing values or duplicate data. Visualize entries that are missing/complete for different attributes. Are those mistakes? Why do these quality issues exist in the data? How do you deal with these problems? Give justifications for your methods (elimination or imputation).

In [8]:
df.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
count,6678.000000,18922.000000,12637.000000,6726.000000,12824.000000,15128.000000,56965,17879
mean,7.220440,0.349113,0.264740,0.102281,0.149472,0.043041,2006-11-14 06:33:03.491617792,2020-01-11 00:45:49.683986944
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1971-12-03 00:00:00,2017-11-28 00:00:00
25%,6.400000,0.030000,0.050000,0.020000,0.010000,0.000000,2001-03-28 00:00:00,2018-08-08 00:00:00
50%,7.500000,0.120000,0.120000,0.040000,0.040000,0.010000,2008-09-16 00:00:00,2019-04-21 00:00:00
75%,8.300000,0.340000,0.280000,0.120000,0.140000,0.030000,2012-12-27 00:00:00,2021-03-30 00:00:00
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000,2024-12-31 00:00:00,2024-01-28 00:00:00
std,1.457066,0.807462,0.494787,0.168811,0.392653,0.126643,NaN,NaN

In [9]:
# Constructing a data description table for the video game sales dataset

# Initial setup for the data description table
data_des = pd.DataFrame()

# Listing all the features from the dataset
data_des['Features'] = ['img', 'title', 'console', 'genre', 'publisher', 'developer', 
                        'critic_score', 'total_sales', 'na_sales', 'jp_sales', 
                        'pal_sales', 'other_sales', 'release_date', 'last_update']

# Providing descriptions for each feature
data_des['Description'] = [
    'URL of the game box art',
    'Name of the video game',
    'Gaming console/platform',
    'Genre of the game',
    'Publisher of the game',
    'Developer of the game',
    'Critic score of the game',
    'Total worldwide sales',
    'Sales in North America',
    'Sales in Japan',
    'Sales in PAL region',
    'Sales in other regions',
    'Release date of the game',
    'Last update date for the data'
]

# Defining the scale of measurement for each feature
data_des['Scales'] = ['nominal', 'nominal', 'nominal', 'nominal', 'nominal', 
                      'nominal', 'ratio', 'ratio', 'ratio', 'ratio', 'ratio', 
                      'ratio', 'interval', 'interval']

# Identifying whether the feature is discrete or continuous
data_des['Discrete/Continuous'] = ['discrete', 'discrete', 'discrete', 'discrete', 
                                   'discrete', 'discrete', 'continuous', 'continuous', 
                                   'continuous', 'continuous', 'continuous', 
                                   'continuous', 'continuous', 'continuous']

# Specifying the range or examples for each feature
data_des['Range'] = ['URLs', 'Various titles', 'Various consoles', 'Various genres', 
                     'Various publishers', 'Various developers', '0 - 10', 
                     'Sales figures', 'Sales figures', 'Sales figures', 
                     'Sales figures', 'Sales figures', 'Date range', 'Date range']

# Display the data description table
print(data_des)

        Features                    Description    Scales Discrete/Continuous  \
0            img        URL of the game box art   nominal            discrete
1          title         Name of the video game   nominal            discrete
2        console        Gaming console/platform   nominal            discrete
3          genre              Genre of the game   nominal            discrete
4      publisher          Publisher of the game   nominal            discrete
5      developer          Developer of the game   nominal            discrete
6   critic_score       Critic score of the game     ratio          continuous
7    total_sales          Total worldwide sales     ratio          continuous
8       na_sales         Sales in North America     ratio          continuous
9       jp_sales                 Sales in Japan     ratio          continuous
10     pal_sales            Sales in PAL region     ratio          continuous
11   other_sales         Sales in other regions     ratio          continuous
12  release_date       Release date of the game  interval          continuous
13   last_update  Last update date for the data  interval          continuous

                 Range
0                 URLs
1       Various titles
2     Various consoles
3       Various genres
4   Various publishers
5   Various developers
6               0 - 10
7        Sales figures
8        Sales figures
9        Sales figures
10       Sales figures
11       Sales figures
12          Date range
13          Date range

In [7]:
idx = df.duplicated()
len(df[idx])

0

The zero means our data has no duplicated entries :D. So the data is clean and we dont need to remove anything.

## Data Visualization (4.5 points total)
#### Visualize basic feature distributions. That is, plot the dynamic range and exploratory distribution plots (like boxplots, histograms, kernel density estimation) to better understand the data. Describe anything meaningful or potentially useful you discover from these visualizations. These may also help to understand what data is missing or needs imputation. Note: You can also use data from other sources to bolster visualizations. Visualize at least five plots, at least one categorical. 

#### Ask three interesting questions that are relevant to your dataset and explore visuals that help answer these questions. Use whichever visualization method is appropriate for your data.  Important: Interpret the implications for each visualization.

Exceptional Work (1 points total)
The overall quality of the report as a coherent, useful, and polished product will be reflected here. Does it make sense overall? Do your visualizations answer the questions you put forth in your business analysis? Do you properly and consistently cite sources and annotate changes made to base code? Do you provide specific reasons for your assumptions? Do subsequent questions follow naturally from initial exploration? Additional analysis:

        5000 level students: You have free rein to provide any additional analyses. 
        7000 level students: Implement dimensionality reduction using uniform manifold approximation and projection (UMAP), then visualize and interpret the results. Give an explanation of UMAP dimensionality reduction methods. You may be interested in the following information:
        https://github.com/lmcinnes/umap 

Links to an external site. 
https://pair-code.github.io/understanding-umap/
Links to an external site.